# SPDX-License-Identifier: MIT OR GPL-2.0-only
config USB_USEEPLUS
	tristate "Useeplus Protocol USB Camera support"
	depends on VIDEO_DEV && USB
	select VIDEOBUF2_VMALLOC
	help
	  Choose Y or M here to support non-UVC USB cameras utilizing
	  the Useeplus proprietary protocol.

	  To compile this driver as a module, choose M here: the module will be called useeplus
